<% layout('layouts/boilerplate') %>

<h1>New Product</h1>
<form action="/products" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="product[title]" id="title">

    <p>Product Type: </p>
   
    <input type="radio" name="product[productType]" id="vehicle" value="vehicle">
    <label for="vehicle">Vehicle</label>
   
    <input type="radio" name="product[productType]" id="parts" value="parts">
    <label for="parts">Parts</label>
    
<br>
    <label for="price">Price: </label>
    <input type="number" name="product[price]" id="price">

    <br> <br>
    <label for="description">Description</label>
    <textarea name="product[description]" id="description" cols="30" rows="5"></textarea>

    <br>
    <button type="submit">Submit</button>
</form>

<a href="/products">All Products</a>